@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #a78bfa;
  font-weight: bold;
}

main {
  background-image: url("./assets/backgrounds/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}